# Credentials
.env
data/curated/

# Python
__pycache__/
*.pyc
.venv/
venv/

# VS Code
.vscode/

# Generated data
data/curated/

# Spark temporary files
.sparkStaging/
metastore_db/
derby.log/

# Operating system
.DS_Store
Thumbs.db